h1, h2 {
	font-family: Trebuchet MS, sans-serif;
	font-weight: normal;
	color: #336699;
}
h1 {
	font-size: 140%;
}

h2 {
	font-size: 120%;
}

li {
	margin-top: 10px;
}

li a {
	color: #707070;
}

.title {
	font-weight: bold;
}

.crosbi {
	font-size: 80%;
	color: #707070;
}
